version: "3.6"

services:
    app5.6:
      volumes:
        #Project 1
        - $[PROJECT_DIR}/my_local_project_1:${APP_ROOT}/symfony-2/my_local_project_1.localhost:cached
        - ${APP_ROOT}/symfony-2/my_local_project_1.localhost/app/cache
        - ${APP_ROOT}/symfony-2/my_local_project_1.localhost/app/sessions
        - ${APP_ROOT}/symfony-2/my_local_project_1.localhost/app/logs
        #Project 2
        - $[PROJECT_DIR}/my_local_project_2:${APP_ROOT}/symfony-2/my_local_project_2.localhost:cached
        - ${APP_ROOT}/symfony-2/my_local_project_2.localhost/app/cache
        - ${APP_ROOT}/symfony-2/my_local_project_2.localhost/app/sessions
        - ${APP_ROOT}/symfony-2/my_local_project_2.localhost/app/logs
    app7.1:
      volumes:
        #Project 3
        - $[PROJECT_DIR}/my_local_project_3:${APP_ROOT}/symfony-flex/my_local_project_3.localhost:cached
        - ${APP_ROOT}/symfony-flex/my_local_project_3.localhost/var/cache
        - ${APP_ROOT}/symfony-flex/my_local_project_3.localhost/var/sessions
        - ${APP_ROOT}/symfony-flex/my_local_project_3.localhost/var/logs
        #Project 24
        - $[PROJECT_DIR}/my_local_project_4:${APP_ROOT}/symfony-flex/my_local_project_4.localhost:cached
        - ${APP_ROOT}/symfony-flex/my_local_project_4.localhost/app/cache
        - ${APP_ROOT}/symfony-flex/my_local_project_4.localhost/app/sessions
        - ${APP_ROOT}/symfony-flex/my_local_project_4.localhost/app/logs

    nginx:
      volumes:
        - $[PROJECT_DIR}/my_local_project_1:${APP_ROOT}/symfony-2/my_local_project_1.localhost
        - $[PROJECT_DIR}/my_local_project_2:${APP_ROOT}/symfony-2/my_local_project_2.localhost
        - $[PROJECT_DIR}/my_local_project_3:${APP_ROOT}/symfony-flex/my_local_project_3.localhost
        - $[PROJECT_DIR}/my_local_project_4:${APP_ROOT}/symfony-flex/my_local_project_4.localhost
